<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    {{> bscss }}
</head>

<body> 
    <header>
        <div class="jumbotron">
    {{> header }}
    </div>
     <h1>HOME</h1>
    </header>
    <p>{{ screemIt welcomeMessage }}</p>
{{> footer }}
{{> bsjs }}
</body>

</html>