<!DOCTYPE html>
<html>

<head>
{{>bscss}}
<title> {{ pageTitle }}</title>
</head>

<body>
<header>
        <div class="jumbotron">
    {{> header }}
    </div>
<hr>
<h2>{{ heading }}</h2>

{{>bsjs}}
</body>

<footer>
{{> footer }}
</footer>
</html>
